<form
  action="https://buttondown.email/api/emails/embed-subscribe/bricktoad"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://newsletter.bricktoad.com', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email"><b>Bricktoad Newsletter</b> Email me about new posts!</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
  <p><small>No spam, promise</small></p>
</form>

<ul style="list-style-type:none">
	<li><a href="http://youtube.com/@bricktoadbuild"><img src="/youtube.png"> youtube.com/@bricktoadbuild</a></li>
	<li><a href="http://instagram.com/bricktoadbuild"><img src="/instagram.png"> @bricktoadbuild</a></li>
	<li><a href="https://www.flickr.com/people/197568669@N04/"><img src="/flickr.png"> @bricktoadbuild</a></li>
</ul>

